.area-cart {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.area-main {
  height: 100%;
  overflow-y: hidden;
}

@media (max-width: 450px) {
  .area-main {
    height: 90vh;
  }
}
