.main-s {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.filter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.select-filter {
  width: 25%;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.select-filter:focus {
  outline: none;
}

.game-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 30px;
  padding: 15px;
}

.game {
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  padding: 0px 0px 20px 0px;
}

.game:hover {
  transform: translate(0px, -20px);
  box-shadow: 0px 0px 5px;
  transition: 0.5s;
}

.game-name {
  background-color: rgb(255, 0, 0);
  color: #fff;
  border-radius: 10px 10px 0px 0px;
  height: 80px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-price,
.game-score {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.game-image {
  margin: 10px;
  width: 180px;
  height: 180px;
}

.game-button {
  height: 40px;
  width: 70%;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: #000;
  color: #fff;
  margin: 10px;
  cursor: pointer;
}

@media (min-width: 1250px) {
  .game-list {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
}

@media (max-width: 750px) {
  .game-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .select-filter {
    width: 50%;
  }
}

@media (max-width: 450px) {
  .game-list {
    grid-template-columns: repeat(1, 1fr);
    padding: 15px 40px;
  }

  .select-filter {
    width: 70%;
  }
}

@media (max-width: 300px) {
  .game-list {
    padding: 15px 25px;
  }
}
