#footer {
  bottom: 0;
  width: 100%;
  position: relative;
  background-color: rgb(255, 0, 0);
  color: #fff;
  text-align: center;
}

/* ---------------Carrinho----------- */

/* -------------Seção finalizada ----------------- */
#secao_finalizada {
  background-color: #fff;
  color: rgb(255, 0, 0);
  font-size: 20px;
  width: 80%;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

#secao_finalizada button {
  width: 40%;
  font-size: 20px;
  min-width: 100px;
  padding: 10px;
  margin-top: 20px;
  background-color: #000;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

/* --------------------Media Queries----------- */
